# Ignore datasets folder
dataset/
# Ignore test_frames folder
extracted_data/
# Ignore extracted features folder
extracted_features/

# Ignore specific file types (e.g., .csv, .npy, etc.)
*.csv
*.npy
*.mp4