# Ignore datasets folder
dataset/
# Ignore test_frames folder
extracted_data/
# Ignore extracted features folder
extracted_features/
dataset_ffpp/
dataset_danet_train/
dataset_celebdf/
dataset_facedancer_train/
dataset_e4s_train/

# Ignore specific file types (e.g., .csv, .npy, etc.)
*.csv
*.npy
*.mp4
*.txt
*.pt
